In [8]:
import pandas as pd
import numpy as np
from faker import Faker
import time
import random

In [5]:
faker=Faker()

In [14]:
faker.date_time_between(start_date='-180d')

datetime.datetime(2021, 6, 17, 8, 15, 53)

datetime.datetime(2021, 8, 24, 5, 14, 22)

In [20]:
user_ratings=pd.read_csv('ratings_clean.csv')

In [43]:

random.seed(1)
user_ratings['datetime_of_purchase']=[faker.date_time_between(start_date='-180d') for i in range(user_ratings.shape[0])]

In [44]:
user_ratings

,User-ID,ISBN,Book-Rating,Book-Rating_5,date_of_purchase,datetime_of_purchase
0,276725,034545104X,0,0.0,2021-06-25,2021-06-02 00:58:00
1,276733,2080674722,0,0.0,2021-06-22,2021-07-22 19:03:32
2,276746,055356451X,0,0.0,2021-04-17,2021-07-20 04:41:21
3,276747,1885408226,7,3.5,2021-05-01,2021-04-27 14:11:17
4,276762,034544003X,0,0.0,2021-05-24,2021-08-26 03:01:39
...,...,...,...,...,...,...
90019,276688,068484267X,0,0.0,2021-06-13,2021-09-11 00:04:59
90020,276688,068810553X,0,0.0,2021-04-22,2021-05-01 11:54:11
90021,276688,1551669315,6,3.0,2021-08-29,2021-09-12 14:29:24
90022,276688,1575660792,7,3.5,2021-07-14,2021-07-25 18:12:40
90023,276704,1563526298,9,4.5,2021-09-03,2021-09-28 09:35:34